
/* ////////////////////////////////////
*
*
*         CONTACTS
*
*
/////////////////////////////////////*/
	.contacts{
		padding: 5em 0;
		.container{
			display: block;
			position: relative;
		}
		.contact__items{
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.contacts__item{
			vertical-align: top;
			display: inline-block;
			font-size: 1.2em;
			font-weight: 700;
			color: $white;
			max-width: 25%;
			width: 25%;
			min-width: 150px;
			.contacts__item-info{
				display: block;
				font-size: .8em;
				font-weight: 300;
			}
		}
	}