

html,body{
	background-color: $almostBlack;
	font-size: 16px;
	font-family: 'Exo 2', sans-serif;
	color: $almostWhite;
	font-weight: 300;
	line-height: 1.7em;
	letter-spacing: 1px;
}
.container{
	display: flex;
	position: relative;
	padding: 0 10%;
}
h1{
	font-size: 5em;
	letter-spacing: 5px;
	line-height: 1em;
	text-transform: uppercase;
	color: $white;
}
h2{
	font-size: 3em;
	letter-spacing: 5px;
	line-height: 1em;
	text-transform: uppercase;
	color: $white;
}
h3{
	font-size: 1.6em;
	letter-spacing: 1px !important;
	line-height: 1em;
	text-transform: uppercase;
	color: $white;
	font-weight: 300
}
a{
	color: $white;
	position: relative;
	text-decoration: none;
	transition: all 0.3s ease-in !important;
	&:hover{
		color: $white;
		letter-spacing: 1.4px;
	}
}

table{
	position: relative;
	width: 100% !important;
	tbody{ width: 100% !important;}
	tr{
		width: 100%;
		&:nth-child(even){
			background: rgba(255,255,255,0.05);
		}
	}
	td{ padding: 0 1em;}
}