/* ////////////////////////////////////
*
*
*         NAVIGATION
*
*
/////////////////////////////////////*/
	.nav{
		display: block;
		position: fixed;
		width: 100%;
		top: .5em;
		right: 1em;
		z-index: 10;
		text-align: right;
		ul.nav-list{
			list-style: none;
			li.nav-list__item{
				display: inline-block;
				margin: 0 1em;
				a{
					font-weight: 700;
					color: $white;
					text-decoration: none;
				}
			}
		}

		.social{
			display: block;
			position: fixed;
			z-index: 10;
			bottom: 1em;
			right: 2em;
		}
		img{
			display: block;
			max-width: 2em;
			margin-bottom: 2em;
		}
	}