
/* ////////////////////////////////////
*
*
*         PROJECTS
*
*
/////////////////////////////////////*/
	.projects{
		padding: 5em 0;
		.container{ flex-direction: column; }
		ul.pills{
			list-style: none;
			padding-left: 0;
			li.pills__item{
				display: inline-block;
				background: rgba(255,255,255,.1);
				border-radius: 2em;
				padding: .2em 1.5em;
				margin: 0 1em 1em 0;
			}
		}
		.projects-content{
			display: flex;
			position: relative;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			.projects-content__description{
				max-width: 700px;
				padding-right: 2em;
			}
			.projects-content__details{
				display: flex;
				position: relative;
				flex-direction: column;
				min-width: 300px;
				table { color: rgba(white, .7)}
			}
			.projects-content__links{ margin: 2em 0;}
			.projects-content__link{
				vertical-align: middle;
				display: inline-block;
				color: $white;
				font-size: 1.1em;
				text-decoration: none;
				margin-right: 2em;
				img{
					position: relative;
					top: 5px;
					width: 24px;
					height: 24px;
					margin-right: .5em
				}
			}
		}
	}