
/* ////////////////////////////////////
*
*
*         SKILLS
*
*
/////////////////////////////////////*/
	.skills{
		padding: 5em 0;
		.skill-chart-wrapper{
			display: block;
			position: relative;
			width: 100%;
		}
	}
