html, body {
  margin: 0;
  position: relative;
  font-family: 'Exo 2', sans-serif;
  color: #f8f8f8;
  background-color: #0f0f0f;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 65px;
  line-height: .87em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 40px;
  line-height: .87em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  line-height: 1.5em;
  font-weight: 200;
  margin-bottom: 0;
  word-break: keep-all;
}

h4 {
  font-size: 16px;
  margin-bottom: 0;
}

p {
  font-weight: 200;
  line-height: 1.6em;
}

a {
  color: cyan;
  transition: .3s all;
}
a:hover {
  color: cyan;
  text-shadow: 0 0 4px cyan;
}

svg {
  transition: .3s all;
  fill: white;
}

section {
  padding: 0 1rem;
  max-width: 100vw;
}

#preloader {
  display: flex;
  background: #0f0f0f;
  color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999999999;
}

#preloader.hidden {
  opacity: 0;
  z-index: -1;
}



#head { opacity: .2 }

#intro {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 99vh;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#intro .social {
  list-style: none;
  display: flex;
  margin-left: 0;
  padding-left: 0;
  margin-top: 3rem;
}

#intro .social li {
  width: fit-content;
  min-width: 2rem;
  height: 2rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
  transition: all .3s;
  cursor: pointer;
}

#intro .social li:hover svg { 
  fill: cyan;
  -webkit-filter: drop-shadow( 0 0 2px cyan);
  filter: drop-shadow( 0 0 2px cyan);
}

#intro h3 mark{
  background: #0f0f0f;
  color: #f8f8f8;
}

#tech-stack {
  z-index: 1;
}

#contacts { padding-top: 150px }
#contacts a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#contacts a:hover {
  color: cyan;
  text-shadow: 0 0 4px cyan;
}
#contacts p { margin-top: 1rem }
#contacts .grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;      
}
#contacts .item:last-of-type {
  align-self: end;
}
#contacts .download-cv {
  display: block;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
  border: 1px solid white;
  background: rgba(15, 15, 15, .75);
  padding: .75rem 1rem;
  border-radius: 2rem;
}

#contacts .download-cv:hover {
  box-shadow: 0 0 6px cyan, inset 0 0 6px cyan;
  border-color: cyan;
}

#contacts .download-cv svg {
  margin-right: .5rem;
  margin-bottom: -2px;
}

#contacts .download-cv:hover svg { 
  fill: cyan;
  -webkit-filter: drop-shadow( 0 0 2px cyan);
  filter: drop-shadow( 0 0 2px cyan);
}

footer {
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
}


@media (min-width: 768px) {
  h1 {
    font-size: 100px;
    max-width: 70vh;
  }
  #intro {
    align-items: flex-start;
  }
  #head { right: -20vw; }
  #tech-stack .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  #contacts .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;  
  }
}

@media (min-width: 1024px) {
  section { padding: 0 10vw; }
  h1 { font-size: 120px; }
  #head { opacity: .5; }
  #contacts .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;  
  }
  #contacts .download-cv {
    top: 3rem;
    right: 3rem;
  }
}

@media (min-width: 1300px) {
  #intro {
    display: flex;
    min-height: 90vh;
    justify-content: center;
    padding-top: 0;
  }
}