section#contacts.contacts
	.container
		h2 Контакты
		.contacts__items
			p.contacts__item Telegram
				a(href="tg://resolve?domain=DimaBardak").contacts__item-info +380673180074
			p.contacts__item WhatsApp
				a(href="whatsapp://send?phone=+380673180074").contacts__item-info +380673180074
			p.contacts__item Skype
				a(href="skype:dmitryklymenko_2?chat").contacts__item-info dmitryklymenko_2
			p.contacts__item Behance
				a(href="http://behance.net/Bardaq7312").contacts__item-info be.net/Bardaq7312
			p.contacts__item Github
				a(href="https://github.com/bardaq").contacts__item-info Bardaq
			p.contacts__item Instagram
				a(href="https://www.instagram.com/dmitryklymenko/").contacts__item-info @DmitryKlymenko
			p.contacts__item LinkedIn
				a(href="https://www.linkedin.com/in/dmitry-klymenko-526600137").contacts__item-info Dmitry-Klymenko
			p.contacts__item Email
				a(href="mailto:dmitryklymenko@hotmail.com").contacts__item-info DmitryKlymenko<br/>@hotmail.com