doctype html
html
	head
		title Дмитрий Клименко
		meta(name="description" content="Дмитрий Клименко")
		meta(charset="utf-8")
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="viewport", content=", width=device-width, initial-scale=1")
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2:300,700&amp;subset=cyrillic")
		link(rel="shortcut icon", href="/img/favicon.ico")
		link(rel="apple-touch-icon", href="/img/favicon.ico")
		link(rel="stylesheet", href="/css/main.css")
	body#body
		include ../templates/nav
		include ../templates/intro
		include ../templates/skills
		include ../templates/project1
		include ../templates/project2
		include ../templates/contacts
		script(src='/js/main.js')
