section#intro.intro
	.photo
		img(src="img/Photo2.jpg", alt="")
	.glitch-container
		.glitch__layer
		.glitch__layer
		.glitch__layer
		.glitch__layer
		.glitch__layer
	.container
		h1 Дмитрий<br/>Клименко
		.main-parametrs
			.main-parametrs__parametr
				b Направление
				| JS
			.main-parametrs__parametr
				b Уровень:
				| Jun-to-mid
			.main-parametrs__parametr
				b Опыт:
				| ~3 года
			.main-parametrs__parametr
				b Возраст
				| 22 года
		p Программирую с 19 лет. Никогда не работал в компаниях, все время разрабатывал сайты для микро бизнеса. Теперь решил, что пора научится работать в команде и стал искать среду которая бы способствовала моему росту. Цель: позиця React dev или fullstack если речь о node.js.