#nav.nav
	ul.nav-list
		li.nav-list__item
			a(href="#skills") Навыки
		li.nav-list__item
			a(href="#project1") Проекты
		li.nav-list__item
			a(href="#contacts") Контакты

	.social
		//- a(href="http://behance.net/Bardaq7312" target="_blanck")
		//- 	img(src="img/be.svg", alt="behance")
		a(href="https://github.com/bardaq" target="_blanck")
			img(src="img/git.svg", alt="github")
		a(href="https://www.instagram.com/dmitryklymenko/" target="_blanck")
			img(src="img/insta.svg", alt="instagram")
		a(href="https://vk.com/id262084742" target="_blanck")
			img(src="img/vk.svg", alt="instagram")