section#project1.projects
  .container
    h2 Project 2:<br/>Product landing page
    ul.pills
      li.pills__item E-commerce
      li.pills__item GSAP
      li.pills__item Scrollmagic
      li.pills__item Gulp
      li.pills__item Node.js
    .projects-content
      .projects-content__description
        p Это посадочная страница для продажи фильтров обратного осмоса. Разработан калькулятор чтобы клиент мог сравнить сколько он тратит денег на покупку воды с ценой фильтра.
        p Для анимации презентации продукта и цветовых переходов используется библиотека ScrollMagic с GSAP.
        p После заполнени формы, данные о конверсии отправляются в Google Analytics и Яндекс метрику, а пользователя перенаправляет на страницу благодарности с инструкцией. Тем временем он получает транзакционное письмо с реквизитами посредством Sendgrid API.
        p Email персонализируется и выщитывается время в течении которого активны спец предложения для повышения конверсии.
        p Front и back развернуты все на том же VPS сервер с NGINX и PM2.
        .projects-content__links
          a(href="http://ecoaqua.tk" target="_blanck").projects-content__link
            img(src="img/eye.svg", alt="portfolio-item")
            span Ecoaqua.tk
          a(href="https://github.com/bardaq/Ecoaqua" target="_blanck").projects-content__link
            img(src="img/git.svg", alt="portfolio-item")
            span Смотреть код
          a(href="https://github.com/bardaq/Ecoaqua/tree/0.8.1" target="_blanck").projects-content__link
            img(src="img/git.svg", alt="portfolio-item")
            span v0.8.1(apr 2018)
      .projects-content__details
        .projects-content__fe-dep
          h3 FrontEnd dependencies
          table
            tr
              td ES6 - Bable
              td Gulp
            tr
              td ScrollMagic
              td GSAP
            tr
              td Pug
              td Scss
        .projects-content__be-dep
          h3 BackEnd dependencies
          table
            tr
              td Node.js
              td Express.js
            tr
              td Sendgrid API
              td MJML
            tr
              td Nginx
              td PM2