section#project1.projects
	.container
		h2 Project 1:<br/>Cryptoexchanger
		ul.pills
			li.pills__item Service
			li.pills__item React
			li.pills__item Express
			li.pills__item MongoDB
			li.pills__item Webpack
		.projects-content
			.projects-content__description
				p Сервис принимает завки на обмен криптовалют. Источник курсов – API coinmarketcup и Privat 24. Cчитает курс обмена c вычетом комиссии указаной в файле конфигараций и перенаправляет на страницу с инструкцией. При этом клиент получает транзацкионное письмо на почту. Обмены записываются в базу данных.
				p Секция «Количество операций в день» обновляется каждую полночь задачей CRON. При это если количество <n, то геренирует произовльное число от 10 до Y, значение которых так же регулируется в файле конфигурации. После этого он дампит всю базу на почту.
				p Реализована регистрация и авторизация пользователей.Обратная связь реализована через pop-up форму и отправкой email через SendGrid API на почту администратора.
				p Для публикации я использовал VPS сервер с NGINX и PM2.  Fornt и back находятся на одном сервере, но на разных портах, с разрешением CORS запросов.
				.projects-content__links
					a(href="http://dexchanger.tk" target="_blanck").projects-content__link
						img(src="img/eye.svg", alt="portfolio-item")
						span Dexchanger.tk
					a(href="https://github.com/bardaq/exchanger" target="_blanck").projects-content__link
						img(src="img/git.svg", alt="portfolio-item")
						span Смотреть код
					a(href="https://github.com/bardaq/exchanger/tree/0.0.2" target="_blanck").projects-content__link
						img(src="img/git.svg", alt="portfolio-item")
						span v0.0.2(late 2017)
			.projects-content__details
				.projects-content__fe-dep
					h3 FrontEnd dependencies
					table
						tr
							td ES6 - Bable
							td Webpack
						tr
							td React.js
							td Redux
						tr
							td React-Router v4
							td Redux-thunk
						tr
							td Reactstrap
							td Chart.js
						tr
							td Lodash
							td Sfcookies
				.projects-content__be-dep
					h3 BackEnd dependencies
					table
						tr
							td ES6 - Bable
							td Webpack
						tr
							td Node.js
							td Express.js
						tr
							td MongoDB
							td Mongoose
						tr
							td Node-cron
							td Sendgrid API